<div class="conteiner-fluid">
  <div class="conteiner-fluid">
    <h3>Edit <%= resource_name.to_s.humanize %></h3>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :telefone %>
        <%= f.text_field :telefone, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :cpf %>
        <%= f.text_field :cpf, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :admin %>
        <%= f.check_box :admin, :autofocus => true, class: 'checkbox' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>
      <fieldset>
        <p>Deixe este campo em branco caso não queira atualizar sua senha.</p>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </fieldset>
      <fieldset>
        <p>Você precisa inserir sua senha atual para validar as alterações.</p>
        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, class: 'form-control' %>
        </div>
      </fieldset>
      <%= f.submit 'Update', :class => 'button right' %>
    <% end %>
  </div>
</div>
<div class="authform">
<h3>Cancelar Registro</h3>
<p>Gostaria de cancelar sua conta?</p>
<%= button_to "Cancelar minha conta", registration_path(resource_name), :data => { :confirm => "Tem certeza?" }, :method => :delete, :class => 'button right' %>
</div>

